
@{
    ViewBag.Title = "NotFound";
}
<link href="~/Content/Index.css" rel="stylesheet" />
<h2 id="textforError">They Page You Are Looking For Cannot Be Found ! Please Check The Url</h2>
<hr />
<body>
    <div id="pic">
        <br />
        <br />
        <img src="https://bsmedia.business-standard.com/_media/bs/img/about-page/thumb/464_464/1599716993.jpg">
    </div>
</body>
