body {
    background-color: aqua;
    background-image: url('../../Content/Images/Student.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.togglebutton{
    float:right;
}
#text {
    color: #fff;
    background: rgba(0,0,0,0.7);
    padding: 6px 11px;
}
#FooterContent {
    color: #fff;
    background: rgba(0,0,0,0.7);
    padding: 6px 11px;
}